*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to bottom, hsl(300, 100%, 100%) , hsl(197, 30%, 60%) ); */
  background-color: hsl(197, 30%, 60%);
}

.container{
    background-color:hsl(0, 0%, 100%);
    /* background-image: url("/blog-app-system/authontication/images/background-image.png"); */
    width: 70%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    color: hsl(221, 78%, 44%);
}
/* .edit-btn{
margin-left: 30px;
} */
.sub-container{
    padding: 20px;
}
.header{
     font-size: 32px;
}

.sub-title{
    font-size: 20px;
}

.input-text{
    height: 2rem;
    width: 48%;
    border-radius: 12px;
    border:1px solid hsl(197, 30%, 60%);
}
.input-image{
     height: 2rem;
    width: 38%;
    border-radius: 12px;
    border:1px solid hsl(197, 30%, 60%);
}
/* 
button{
    height: 2rem;
    width: 3rem;
} */

form{
    gap: 32px;
}

.image-container{
    display: flex;

}

.btn{
    height: 2rem;
    width: 4rem;
    background-color: hsl(221, 78%, 44%);
    color: hsl(0, 0%, 100%);
    /* background: linear-gradient(to bottom, hsl(300, 100%, 100%) , hsl(197, 30%, 60%) ); */
    border-radius: 12px;
    border: none;
}

.list{
    border: 1px solid hsl(221, 78%, 44%);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 11.5rem;
    gap: 10px;
    padding: 8px;
    border-radius: 12px;
    overflow: hidden;
    scroll-behavior: auto;
}
